@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --black: #282828;
    --dark_grey: #828282;
    --light_grey: #EBEBEB;
    --pfp_green: #007C36;
}

.background {
    text-align: center;
    background-color: #EBEBEB;
    min-height:95vh;
}

page_title {
    padding-top: 1%;
    display: block;
    color: var(--black);
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
}