.tournamentBox {
    /*Box align*/
    flex-direction: column;
    flex-wrap: nowrap;

    /*Visual*/
    /*background-color: #ffffff;*/
    background-color: #007C36;
    color: white;
    border: 1px #AFAFAF solid;

    height: 15vh;
    width: 100%;

    cursor: pointer;
}

/**/
.tournamentIconBox {
    width: 10%;
    height: 100%;
    float: left;
    /*padding: 25px;*/
    top: 50%;
    left: 50%;
}

.tournamentIcon {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/**/
.tournamentDataBox {
    width: 90%;
    height: 100%;
    float: right;
    position: relative;

}

.tournamentData {
    margin-top: 1%;
    text-align: left;
    /*padding-left: 10%;*/
    color: #282828E5;

}

.tournamentOpen {

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.5%;

    /*position: absolute;*/
    width: 90px;
    height: 29px;

    /* PFP GREEN */

    background: #007C36;
    border-radius: 15px;
    border: 1px solid;

    font-family: Montserrat, serif;
    color: white;
}